fastapi
uvicorn
python-dotenv
python-telegram-bot
langchain
langchain-community
langchain-google-genai
langchain-chroma
chromadb
pydantic
requests
pypdf
sentence-transformers
langchain-huggingface
docx2txt
openpyxl
duckduckgo-search
sqlalchemy
unstructured
networkx
pymupdf
pymupdf4llm